<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!------------------------------Socet------------------------------->
    <script src="/socket.io/socket.io.js"></script>
    <script> var socket = io(); </script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>
    <!---------------------------main--------------------------->
    <h1><%= name %></h1>
    <div class="container">
      <div class="row">
        <div class="side-container col-lg-3">
          <div class="" id="choose-car">
            <!---------------------------filter model--------------------------->
            <select class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here..">
              <option onclick="window.location.href='/'" value="" <%= !!selected && 'selected' %>>Choose your car</option>
              <% for (car in cars) { %>
              <option <%= selected === cars[car].make && 'selected' %> onclick="window.location.href='<%= updateUrlQuery("make",cars[car].make, url) %>'" value="<%= car %>"><%= cars[car]["make"] %></option>
             <% } %>
            </select>
          </div>
          <!---------------------------filter Price--------------------------->
          <div class="" id="choose-price">
            <select class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here..">
              <option onclick="window.location.href='/'" value="" <%= !!selected && 'selected' %>>Order By</option>
              <option onclick="window.location.href='<%= updateUrlQuery("sort", -1, url) %>'">Price Ascending</option>
              <option onclick="window.location.href='<%= updateUrlQuery("sort", 1, url) %>'">Price Descending</option>
            </select>
            <label class="mdb-main-label">Order By</label>
            <button class="btn-save btn btn-primary btn-sm">Save</button>
          </div>
        </div>
        <!---------------------------cars container--------------------------->
        <div class="main-container col-lg-9">
          <div class="row">
            <!---------------------------cars--------------------------->
            <% for (car in selectCars) { %>
              <div class="col-md-5">
                <img class="img-fluid rounded mb-3 mb-md-0" width="200" height="121" alt=""
                  src="<% cars[car]['image_url'] %>" />
              </div>
              <div class="col-md-7">
                <h5>Year: <%= selectCars[car]["make"] %></h5>
                <h5>Make <%= selectCars[car]["year"] %></h5>
                <h5>Model: <%= selectCars[car]["model"] %></h5>
                <h5>Milleage: <%= selectCars[car]["mileage"] %>km</h5>
                <h5>Price: $<%= selectCars[car]["price"] %></h5>
                <p>Description: <%= selectCars[car]["description"] %></p>
                <a class="btn btn-primary" href="#">View Car</a>
                <button class="btn btn-primary message-owner" type="button" id="<%=cars[car]['owner_id'] %>">Message
                  Buyer</button>
              </div>
              <% } %>
            <!--------------------------- end cars--------------------------->
          </div>
        </div>
      </div>
    </div>
    <!--------------------------- footer --------------------------->
    <footer>
      <%- include('partials/_footer') %>
    </footer>
  </body>
</html>
