<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>
    <!--main-->
    <h1>my Garage</h1>
        <div class="col-md-5">
              <% for (car in cars) { %>
              <img class="img-fluid rounded mb-3 mb-md-0" width="200" height="121" alt="" src=<%= "cars[car]['make']" %> />
              <% } %>
            </div>
            <div class="col-md-7">
            <% for (car in cars) { %>

            <h5><%= cars[car]["make"] %></h5>
            <h5><%= cars[car]["year"] %></h5>
            <h5><%= cars[car]["model"] %></h5>
            <h5><%= cars[car]["mileage"] %></h5>
            <p><%= cars[car]["description"] %></p>
            <form method = 'POST' action = '/myFavourite'>
              <input name = 'carId' type = 'text' value = '<%= cars[car]["id"] %>'> </input>
              <button id ='favourite' type = 'submit' class="btn btn-primary" href="#"> Remove from Favourites</button>
            </form>
            <% } %>

        </div>
    <!--footer-->
    <footer>
      <%- include('partials/_footer') %>
    </footer>
  </body>
</html>
